<html>
    <head>
        <title><%= collegeName %> - Chat</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link type="text/css" rel="stylesheet" href="/style.css" />
        <link
            rel="stylesheet"
            href="https://unpkg.com/easymde/dist/easymde.min.css"
        />
        <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
        <script src="/index.js"></script>
        <script src="/chatScript.js"></script>
    </head>
    <body>
        <%- include('navbar.ejs') %>
        <div
            class="mx-auto flex-col rounded border-2 border-black w-auto ml-4 mr-4 my-4 p-4"
        >
            <p class="text-black font-medium">Chat System Management</p>
            <div class="flex-row mx-2 w-auto">
                <p class="text-black font-medium">Form</p>
                <%- include('form.ejs', {form: 'chat'}) %>
                <p class="text-black font-medium">Chat Suggestions</p>
                <%- include('table.ejs', {table: 'suggestions'}) %>
                <p class="text-black font-medium">Query and Answers</p>
                <%- include('table.ejs', {table: 'corpus'}) %>
                <p class="text-black font-medium">Unhandled Queries</p>
                <%- include('table.ejs', {table: 'unhandled-corpus'}) %>
            </div>
        </div>
    </body>
</html>
